# Copyright 2016 Peter Goodman (peter@trailofbits.com), all rights reserved.

install_manifest.txt
Makefile

third_party/*
build/*
generated/*
gtest_build/*

tools/build/*
tools/dist/*
tools/remill_disass.egg-info/*
tools/remill_disass/CFG.proto
tools/remill_disass/CFG_pb2.py

dist/*
remill_disass.egg-info/*

*.o
*.ll
*.bc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc

# IDA Pro
*.idb
*.i64
*.nam
*.id0
*.id1
*.til
